body {
    margin: 0 auto;
}

div {
    width: 100%;
}

button {
    margin: 2% 10%;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}