body {
    margin: 0 auto;
}

div .inner {
    background-color: #00b3b3;
    width: 100%;
    padding: 20px 0;
}

#wrapper, #header  {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 15px;
}

#xml-sample, #promise-sample, #async-sample {
    background-color:#b3cccc;
    width: 100%;
}